# In case of scripbox packages, scope is going to be scripbox
@ternala:registry = https://npm.pkg.github.com/ternala
//npm.pkg.github.com/:_authToken=d167f6772698c31fe149961de8d3d02da67c0252

_authToken = 5d3e9a3276250cb8201be09a75e903cecf3d92c7
always-auth = true

//npm.pkg.github.com/ternala:_authToken=5d3e9a3276250cb8201be09a75e903cecf3d92c7