.discovery {
  overflow-y: hidden;
  &-menu {
    max-width: 860px;
    width: 100%;
    max-height: 393px;
    margin: 0px;
    padding: 0px;

    &-hidden {
      display: none !important;
    }

    &-wrapper {
      background-color: $white;
      margin-left: 0px;
      margin-right: 0px;
      max-height: 355px;
      max-width: 100%;
      display: flex;
      flex-flow: row;
      overflow-y: hidden;
      overflow-x: scroll;
      box-sizing: content-box;
      cursor: grab;

      &__small {
        @extend .discovery-menu-wrapper;
        background-color: transparent;
        max-width: 640px;
      }
    }

    &-small {
      opacity: 1;
      transition: all 1s;
      display: flex;
      flex-flow: row;
      max-width: 640px;
      height: 90px;
      margin-left: 5px;

      &-item {
        @include card-list-text-style;
        @include prevent-drag;
        height: 50px;
        display: flex;
        margin-top: 20px;
        margin-left: 10px;
        border-radius: 15px;
        border: 1px solid $divider-color;
        background-color: $white;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &-txt {
          min-width: 120px;
          max-width: 200px;
          width: 100%;
          display: block;
          margin: auto;
          padding: 18px 20px 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
      }

      &-btn {
        @extend .discovery-menu-small-item;
        @include prevent-drag;
        color: $white;
        background-color: $empty-title-color;
        cursor: pointer;

        &-txt {
          @extend .discovery-menu-small-item-txt;
        }
      }
    }
  }
  &-select {
    width: fit-content;
    height: fit-content;
    display: block;
    margin-right: auto;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $NotoSansSC;
    color: $secondary-grey-text-color;
    font-weight: 500;
    font-style: normal;
    size: 14px;
    line-height: 18px;
  }
  &-list {
    @extend .discovery-select;
    margin: 20px 20px 60px;
    width: auto;
    &-holder {
      width: 100%;
      margin-top: 20px;
    }

    &-item {
      &-holder {
        width: 100%;
        display: flex;
        flex-flow: row;
        margin-bottom: 35px;
        border-radius: 14px;
        cursor: pointer;
        min-height: 300px;

        &__half {
          @extend .discovery-list-item-holder;
          border-radius: 14px;
          overflow: hidden;
          border: 1px solid $divider-color;
          min-height: 150px;
        }
      }

      &-imgwrapper {
        flex: 1;
      }

      &-img {
        border-radius: 14px 0px 0px 14px;
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &__half {
          display: flex;
          min-height: 150px;
          height: 100%;
          max-width: 150px;
          width: 100%;
          object-fit: cover;
        }
      }
      &-description {
        @include card-list-text-style;
        border-radius: 0px 14px 14px 0px;
        border-top: none;
        border-left: 1px solid $white;
        display: flex;
        flex-flow: column;
        width: 100%;
        max-width: 300px;
        height: auto;
       // max-height: 384px;
        flex: 1;
        padding: 15px;
      }
    }
  }
}

.topic {
  &-item {
    &__top {
      @include card-menu-text;
      @include prevent-drag;
      margin-top: 0px;
      margin-bottom: 15px;
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      flex-flow: column;
      cursor: pointer !important;
    }
    &__bottom {
      @extend .topic-item__top;
      margin-bottom: 0px;
    }

    &-text {
      @include prevent-drag;
      max-height: 70px;
      overflow-y: hidden;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: auto;
      margin-bottom: 15px;
    }
    &-img {
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0px;
      margin-left: auto;
      margin-top: 0px;
      margin-bottom: auto;
      padding: 0px;
      border-radius: 0px 15px 0px 35px;
      background-color: rgba($white, 0.3);

      &-wrapper {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        @include prevent-drag;
        height: auto;
        width: auto;
        max-height: 30px;
        max-width: 30px;
        cursor: pointer;
      }
    }
  }

  &-items {
    &-container {
      width: 160px;
      height: 335px;
      margin-left: 15px;
      background-color: $white;
    }
  }
}

.card {
  &-text {
    &-header {
      @include card-list-header;
      margin: 0px 0px 10px;
      padding: 0px;
      text-transform: uppercase;
    }
    &-wrapper {
      @include card-list-text-style;
      //width: fit-content;
      width: 100%;
      color: $text-color;

      &-link {
        @include card-list-text-style;
        width: fit-content;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: $text-color;
      }
    }
    &-start {
      &-btn {
        @include card-list-text-style;
        height: 31px;
        width: 74px;
        margin-top: 30px;
        padding: 10px 22px 8px;
        line-height: 13px;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $empty-title-color;
      }
    }
    &-link {
      @include link-style-remover;
      color: $primary-action-color;
      font-family: $NotoSansSC;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 5px;
    }
  }
}

.text {
  &-wrapper {
    margin: 0px;
    padding: 0px;
    height: fit-content;
    width: fit-content;
  }
}

.answer {
  &-notfound {
    margin-top: 60px;
    margin-bottom: 90px;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;

    &-header {
      &__top {
        @include card-list-header;
        color: $empty-title-color;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &-description {
      @include card-list-text-style;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      max-width: 320px;
    }

    &-img {
      display: block;
      width: 279px;
      height: fit-content;
      margin: 30px auto 0;
      object-fit: contain;
    }

    &-btn {
      border-radius: 4px;
      margin: 10px auto 0;
      padding: 11px 24px 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-action-color;
      cursor: pointer;

      &-text {
        @include card-list-text-style;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        color: $white;
      }
    }
  }
}

.ask-question {
  height: 100%;
  height: calc(100% - 55px);
  display: flex;
  flex-flow: column;
  background-image: url('../../../images/question.png');
  background-position: right 65px;
  background-repeat: no-repeat;
  background-size: 207px 198px;

  &-textarea {
    @extend .scrollbar__hidden;
    padding: 15px;
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 240px;
    resize: none;
    border: 1px solid $divider-color;
    border-radius: 5px;
    font-family: $Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $text-color;

    &.error {
      border-color: $red-color;
    }

    &::placeholder {
      font-family: $Spartan;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: $secondary-grey-text-color-lighter;
      transition: opacity 0.3s ease;
    }

    &:focus {
      &::placeholder {
        opacity: 0.4;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  &-select {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 45px;
    display: flex;
    flex-flow: column;

    &-text {
      &__first {
        font-family: $NotoSansSC;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: $empty-title-color;
        margin-bottom: 10px;
      }

      &__second {
        @include card-list-text-style;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-transform: unset;
      }
    }
  }

  &-body {
    margin-right: 20px;
    margin-left: 20px;

    @media screen and (max-width: 650px) {
      margin-right: 15px;
      margin-left: 15px;
    }

    &-dropdown {
      margin-top: 30px;
    }

    textarea:focus,
    input:focus {
      outline: none;
    }
  }

  &__bottom {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    padding-bottom: 20px;

    @media screen and (max-width: 650px) {
      margin-right: 15px;
      margin-left: 15px;
      padding-bottom: 15px;
    }
  }
}

.btnStartExtended {
  width: 100%;
  min-width: 74px;
  max-width: 115px;
}
