@media screen and (max-width: 460px) {

    .discovery-list-item-holder {
        border-radius: 14px 14px 0px 0px;
    }
    .discovery-list-item-description {
        border-radius: 0px 0px 14px 14px;
        display: flex;
        flex-flow: row;
        border-top: 1px solid $white;
        border-left: none;
    }
    .discovery-list-item-holder {
        display: flex;
        flex-flow: column;
        max-width: 460px;
    }
    .card-text-wrapper {
        display: flex;
        flex-flow: column;

        &-link {
            padding: 10px;
        }
    }
    .card-text-start-btn{
        margin-top: 0;
        /*margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;*/
        margin-bottom: auto;
    }

    .discovery-list-item-img {
        border-radius: 14px 14px 0px 0px;
        width: 100%;
        max-width: 384px;
        height: 384px;
    }

    .discovery-list-item-holder__half {
        border-radius: 14px;
    }

    .discovery-list-item-holder {
        border-radius: 14px;
    }

    .discovery-list-item-img-wrapper {
        border-radius: 14px 14px 0px 0px ;
        width: 100%;
    }

    .discovery-list-item-img-wrapper__half {
        border-radius: unset;
        width: 150px;
    }

    .discovery-list-item-img__half {
        width: 40%;
    }

    .discovery-list {
        margin-left: 15px;
    }

    .discovery-list-item-description {
        max-width: 384px;
        width: 100%;
    }

}
