$primary-action-color: #8179DC;
$color-btn-with-background: #D2CEFF;
$primary-action-color-light: rgba(129, 121, 220, 0.96);
$primary-action-color-ultralight: rgba(129, 121, 220, 0.7);
$primary-action-color-brighter: rgba(129, 121, 220, 0.2);
$success-color: #3BBFCA;
$success-color-brighter: #74BFD4;
$bubble-bg:#A5EAF0;
$bubble-green-bg: #B4EBE1;
$bubble-green-wave: #7BCDBE;
$main-background-color: #FCFCFE;

$day-week-color: #000000;

$button-title: #D2CEFF;

$white: #FFFFFF;

$text-color: #1D1D1D;
$secondary-grey-text-color: #696969;
$secondary-gey-text-color-bright: rgba(55, 55, 55, 0.5);
$secondary-grey-blue-card: rgba(59, 191, 202, 0.03);
$secondary-purple-text-color: #5A6597;

$uncompleted-task-color: #E1A93B;
$uncompleted-task-color-brighter: rgba(255, 199, 39, 0.25);
$uncompleted-disable-task-color: #FFFBF2;

$empty-title-color: #373737;
$empty-title-brighter: rgba(29, 29, 29, 0.5);
$empty-title-iframe: rgba(29, 29, 29, 0.65);
$arrow-color: rgba(29, 29, 29, 0.7);

$divider-color: #E9E9E9;

$yellow-color: #E9E9E9;
$red-color: #EA4335;
$grey-color: #D2D2D2;
$purple-color: #8690AC;
