@mixin card-menu-text {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.045em;
  color: $white;
}

@mixin card-list-text-style {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
}

@mixin card-list-header {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin link-style-remover {
  text-decoration: none;
}
