@mixin card-menu-text {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.045em;
  color: $white;
}

@mixin card-list-text-style {
  font-family: $Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
}

@mixin card-list-header {
  font-family: $NotoSansSC;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: unset;
}

@mixin link-style-remover {
  text-decoration: none;
}

@mixin prevent-drag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
