.loader{
  width: 100%;
  height: var(--vhFull);
  background-color: rgba($white, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;

  span{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary-action-color;
    margin: 7px;
    opacity: 0;
    &:nth-child(1){
      animation: opacitychange 2.2s ease-in-out infinite
    }
    &:nth-child(2){
      animation: opacitychange 2.2s ease-in-out .5s infinite
    }
    &:nth-child(3){
      animation: opacitychange 2.2s ease-in-out 1s infinite
    }
    &:nth-child(4){
      animation: opacitychange 2.2s ease-in-out 1.5s infinite
    }
    @keyframes opacitychange{
      0%, 100%{
        opacity: 0;
      }
      70%{
        opacity: 1;
      }
    }
  }
}

.smallWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;

  &.custom{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255, .9);
    transform: translateX(-200vw);
    opacity: 0;
    transition: opacity .3s .3s, transform 0s .6s;
    z-index: 99999;

    &.show{
      opacity: 1;
      transform: translateX(0);
      transition: opacity .3s, transform 0s 0s;
    }
  }

  &.absoluteLoader {
    top: 170px;
    left: 0px;
    position: absolute;

    .loader {
      align-items: flex-start;

      span {
        margin-top: 100px;
      }
    }
  }

  .loader {
    height: 100%;
  }
}
