.searchbar {
  &__top {
    position: absolute;
    padding-right: 100px;
    top: 0px;
    max-width: 640px;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid $divider-color;
    background-color: $white;
  }

  &-input {
      @include card-list-text-style;
      width: 100%;
      display: flex;
      height: 18px;
      margin-top: 24px;
      margin-left: 50px;
      border: 0;
      outline: 0;
      color: $text-color;
      font-size: 16px;
      line-height: 17px;
  }

  &-btn {
    width: 19px;
    height: 19px;
    display: block;
    margin-left: auto;
    position: absolute;
    right: 18px;
    top: 23px;
    margin-bottom: auto;
    cursor:pointer;

    &__input {
        width: 19px;
        height: 19px;
        display: block;
        position:absolute;
        top: 23px;
        left: 18px; 
    }
  }

  &-clear {
    height: 12px;
    width: 11px;
    position: absolute;
    right: 21px;
    top: 23px;
    cursor:pointer;

    &-left {
        height: 15px;
        width: 1px;
        background-color: $text-color;
        transform: rotate(45deg);
        margin-left: 5px;
    }
    &-right {
        height: 15px;
        width: 1px;
        margin-top: -15px;
        background-color: $text-color;
        transform: rotate(135deg);
        margin-left: 5px;
    }
  }
}
