.read {
  &-more {
    &-main {
      &-wrapper {
        //margin-top: 65px;
        margin-top: 10px;
        display: flex;
        flex-flow: column;
        width: 100%;

        a {
          font-family: $NotoSansSC;
          font-weight: 700;
          color: $success-color;
        }

        &-text {
          margin: 10px 20px auto;

          @media screen and (max-width: 650px) {
            margin: 10px 15px auto;
          }

          &__textvalue {
            @include card-list-text-style;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.04em;
          }
        }
        &-list {
            margin-top: 15px;
        }
      }
    }
  }
}
