.module {
  //height: 100vh;
  //height: calc(var(--vhFull) - 55px);
  height: fit-content;
  min-height: 100vh;

  &-menu {
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
    min-width: 100%;
    max-width: 639px;
    height: 55px;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    background-color: $white;
    border-right: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;

    &-navigation {
      height: 43px;
      margin-right: 20px;
      margin-left: 20px;
      padding-right: 8px;
      padding-left: 8px;
      display: flex;
      flex-flow: row;
      align-items: stretch;
      border-radius: 18px;
      border: 1px solid $divider-color;

      @media screen and (max-width: 650px) {
        margin-right: 15px;
        margin-left: 15px;
      }

      &-item {
        @include card-list-text-style;
        line-height: 13px;
        width: 100%;
        margin-top: 6px;
        margin-bottom: 6px;
        padding: 10px 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;
        background-color: $white;
        color: $empty-title-color;
        cursor: pointer;
        transition: all 0.3s ease;

        &__active {
          @extend .module-menu-navigation-item;
          background-color: $empty-title-color;
          color: $white;
        }
      }
    }

    &-col1 {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
    }
    &-col2 {
      @extend .module-menu-col1;
      @include card-list-text-style;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-col3 {
      @extend .module-menu-col1;
    }

    &-back {
      display: flex;
      flex-flow: column;
      margin-top: auto;
      margin-left: 22px;
      margin-bottom: auto;
      width: 11px;
      height: 18px;
      cursor: pointer;
      &__top {
        margin-top: 1px;
        margin-left: 5px;
        height: 21px;
        width: 1px;
        background-color: black;
        transform: rotate(45deg);
      }
      &__bottom {
        @extend .module-menu-back__top;
        margin-top: -3px;
        transform: rotate(135deg);
      }
    }
  }

  &-menucontainer {
    padding-top: 20px;
    position: relative;
    background-color: $white;
    z-index: 3;
  }

  &-body {
    // margin-top: 55px;
    // padding-top: 20px;
    height: auto;
  }

  &-sections {
    display: block;
    height: 100%;
  }

  .notes {
    &-module {
      display: block;
      height: 100%;
    }
  }
}

.overview {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;

  &-header {
    width: auto;
    margin: 20px 20px auto;
    display: flex;
    flex-flow: row;
    @media screen and (max-width: 650px) {
      margin-left: 0px;
      margin-right: 15px;
    }

    &-img {
      margin-right: 12px;
      margin-left: 15px;
      width: 50px;
      height: 50px;
    }
    @media screen and (max-width: 650px) {
      margin-left: 0px;
    }
    &-text {
      display: flex;
      flex-flow: column;

      &__top {
        @include card-list-header;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $empty-title-brighter;
        margin-bottom: 5px;
      }

      &__bottom {
        @extend .overview-header-text__top;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        text-transform: uppercase;
        color: $empty-title-color;
        margin-bottom: 0px;
      }
    }
  }

  &-body {
    width: auto;
    height: 100%;
    display: flex;
    flex-flow: column;
    margin-top: 12px;

    &-img {
      &__code {
        width: 20px;
        height: 20px;
        margin: 10px;
        margin-bottom: auto;
        cursor: pointer;
      }
      &__main {
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
        height: 100%;
        @media screen and (max-width: 650px) {
          margin-left: 0px;
          margin-right: 0px;
        }
      }
    }

    &-description {
      margin-top: 15px;
      margin-bottom: 5px;
      margin-right: 20px;
      margin-left: 20px;
      display: flex;
      flex-flow: column;
      width: auto;
      @media screen and (max-width: 650px) {
        margin-right: 15px;
        margin-left: 15px;
      }

      &-text {
        @include card-list-text-style;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.04em;
        margin-bottom: 10px;
        color: $text-color;
      }
    }
  }

  &-links {
    text-decoration: none;
    color: $primary-action-color;
  }

  &-additional {
    &-link {
      width: auto;
      height: fit-content;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 15px;
      display: flex;
      background-color: $white;
      border-radius: 5px;
      border: 1px solid $primary-action-color;

      @media screen and (max-width: 650px) {
        margin-left: 15px;
        margin-right: 15px;
      }

      &__regular {
        display: flex;
        flex-flow: row;
        min-height: 40px;
        height: auto;

        &-textwrapper {
          display: flex;
          flex-flow: column;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        &-header {
          @include card-list-header;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          color: $primary-action-color;
          margin-bottom: 5px;
          cursor: pointer;
        }

        &-text {
          @include card-list-text-style;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 13px;
          color: $empty-title-color;
        }
      }
    }
  }

  &-textcomponent {
    width: auto;
    height: fit-content;
    margin: auto 20px 15px;

    @media screen and (max-width: 650px) {
      margin: auto 15px 15px;
    }

    &-text {
      @include card-list-text-style;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $text-color;
    }
  }

  &-list {
    &__regular {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
      width: auto;
      height: fit-content;

      @media screen and (max-width: 650px) {
        margin-left: 15px;
        margin-right: 15px;
      }

      &-wrapper {
        list-style: unset;
      }

      &-item {
        @include card-list-text-style;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.04em;
        color: $text-color;
        margin-left: 20px;
      }
    }

    &__underlined {
      display: flex;
      flex-flow: column;
      width: auto;
      margin: auto 20px 15px;

      @media screen and (max-width: 650px) {
        margin: auto 15px 15px;
      }

      &-item {
        height: 47px;
        width: auto;
        display: flex;
        flex-flow: row;
        align-items: center;
        border-bottom: 1px solid $divider-color;

        &-head {
          @include card-list-header;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          text-transform: uppercase;
          color: $secondary-grey-text-color;
        }

        &-text {
          @include card-list-text-style;
          margin-right: 0px;
          margin-left: auto;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          color: $text-color;
        }
      }
    }
  }

  &-video {
    margin: auto 20px 30px;

    &-wrapper {
      width: auto;
      min-height: 384px;
      height: 100%;
      display: flex;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
    }
    &-bg {
      display: flex;
      width: 100%;
      object-fit: contain;
    }
    &-btn {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: rgba($text-color, 0.65);

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-image: url('../../../../View/Module/MenuSections/staticHardcoded/play.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &-frame {
      width: 100%;
      height: auto;
      display: flex;
      border-radius: 5px;
    }
  }

  &-tips {
    display: flex;
    flex-flow: row;
    border-left: 4px solid $success-color;
    margin: auto 20px 15px;

    @media screen and (max-width: 650px) {
      margin: auto 15px 15px;
    }

    &-text {
      @include card-list-text-style;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: $text-color;
      margin-left: 20px;
    }
  }

  &-help {
    display: flex;
    flex-flow: column;
    margin: 50px 20px 0px;

    @media screen and (max-width: 650px) {
      margin: 50px 15px 0px;
    }

    &-header {
      @include card-list-header;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
      color: $empty-title-color;
      margin-bottom: 10px;
    }

    &-description {
      @include card-list-text-style;
      font-family: Spartan;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.04em;
      color: $empty-title-color;
      margin-bottom: 15px;
    }

    &-slider {
      @include prevent-drag;
      display: flex;
      flex-flow: row;
      overflow-x: scroll;
      cursor: grab;
      margin-left: 20px;
      margin-bottom: 67px;

      &__marginnull {
        @extend .overview-help-slider;
        margin-bottom: 0px;

        @media screen and (max-width: 650px) {
          margin-left: 15px;
        }
      }
      @media screen and (max-width: 650px) {
        margin-left: 15px;
      }

      &-item {
        display: flex;
        flex-flow: column;
        margin-right: 15px;
        margin-left: auto;
        align-items: center;
        width: 160px;
        height: 218px;
        border: 1px solid $divider-color;
        border-bottom: 7px;
        border-radius: 5px;
        cursor: pointer;

        &-img {
          width: 130px;
          height: 130px;
          margin: 15px;
        }

        &-name {
          @include card-list-header;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          color: $text-color;
        }

        &__bottom {
          &-line {
            width: 100%;
            height: 7px;
            background-color: $primary-action-color;
            border-radius: 0px 0px 4px 4px;
            margin-top: auto;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.help {
  padding: 0 15px;

  .overview-help,
  .overview-help-slider {
    margin-left: 0;
    margin-right: 0;
  }

  .overview-help {
    margin-top: 20px;
  }

  .overview-help-slider {
    margin-bottom: 30px;
  }

  .questions-title {
    font-family: $NotoSansSC;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: $empty-title-color;
    margin-bottom: 20px;
  }
}
