.main{
  width: 100%;
  max-width: 639px;
  overflow-y: auto;
  overflow-x: hidden;
  background: $white;
  height: 100%;
  max-height: 100%;
}
.wrap-main{
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  flex: 1;
  overflow-y: auto;
}